<?php

namespace QuickStart;

use function Ephect\Hooks\useEffect;
use function Ephect\Hooks\useProps;

function Matroichka0($props)
{

    useEffect(function($props, /* string */ $devochka) {
        $devochka = $props->devochka;
    });

    return (<<< HTML
    <Mother >
        <Slot name="title">Ephect in action !</Slot>
        <Slot name="stylesheets">
            <link rel="stylesheet" href="/css/index.css" />
            <link rel="stylesheet" href="/css/app.css" />
        </Slot>
        <div class="App-content" >
            <p>
                {{ devochka }}
            </p>
            <Matroichka1 id="zero" label="Zero">
                inside 0<br>
                <Matroichka1 id="one" label="One">
                    inside 1<br>
                    <Matroichka1 id="two" label="Two">
                        inside 2<br>
                        <Matroichka1 id="three" label="Three">
                            inside 3<br>
                        </Matroichka1>
                    </Matroichka1>
                </Matroichka1>
            </Matroichka1>
        </div>
        <Slot name="javascripts">
            <script src="js/ephect.js"></script>
        </Slot>
    </Mother>
    HTML);
}
