<?php

namespace QuickStart;

use function Ephect\Hooks\useEffect;

function Second($props)
{

    useEffect(function($props, /* string */ $firstname, /* string */ $lastname, /* string */ $adjective) {
        $firstname = $props->name;
        $lastname = $props->lname;
        $adjective = "stunning";
    });

    return (<<< HTML
    <First>
        <Slot name="title">Ephect!</Slot>
        <Slot name="stylesheets">
            <link rel="stylesheet" href="/css/index.css" />
            <link rel="stylesheet" href="/css/app.css" />
        </Slot>
        <Slot name="main">
            <section>
            <h2>Main</h2>
                <p>
                    Hello&nbsp;{{ firstname }} {{ lastname }}!
                </p>
            </section>
        </Slot>
        <Slot name="second">
            <section>
            <h2>Second</h2>
                <p>
                Your computer is <strong> {{ adjective }} </strong>
                </p>
            </section>
        </Slot>
        <Slot name="javascripts">
            <script src="/js/ephect.js"></script>
        </Slot>
    </First>
    HTML);
}